<div class="row">
<div class="col-md-6">
<div class="container" #blockly_container>
  <div id="blocklyDiv" style="height: 480px; width: blockly_container.offsetWidth;"></div>
</div>
<div class="container">
  <button class="btn btn-primary" (click)="generate_code()">Generate Code</button>
  <button class="btn btn-primary" (click)="run_python()">Run Code</button>
</div>
<div class="container">
  <div [innerHTML]="code"></div>
</div>
</div>

<div class="col-md-6">
  <div class="container overflow-auto output">
  <div [innerHTML]="output"></div>
  </div>
</div>

</div>


